:root {
  --light: #EAEAEC;
  --light-gray: #6C7D80;
  --dark: #27282B;
  --dark-gray: #303D40;
  --primary: #00338e;
  --secondary: #1964d4;
  --accent: var(--bs-cyan);
}

body {
  background-color: var(--light);
}

nav {
  background-color: var(--dark);
}

footer {
  background-color: var(--dark);
  color: var(--bs-white);
}

main {
  background-color: var(--light);
}

main h1, h2, h3, p {
  color: var(--bs-black)
}

main a {
  color: var(--primary)
}

main > .container {
  padding: 45px 15px 0;
}
