{{ define "main" }}
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h1>{{ .Title }}</h1>
      {{ range .Pages.ByPublishDate.Reverse }}
      <div class="m-5 p-2 border-start border-dark border-4">
        <h3><a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
        <p>{{ .Summary }}</p>
        {{ partial "metadata.html" . }}
      </div>
      {{ end }}
    </div>
    <div class="col-md-3">
      {{ partial "blogsidebar.html" . }}
    </div>
  </div>
</div>
{{ end }}
