{{- range $key, $value := .Site.Taxonomies -}}
  {{- $countParams := dict "categories" "categoryCount" "tags" "tagCount" "series" "seriesCount" -}}
  {{- $param := default "" (index $countParams $key) -}}
  {{- $taxonomyCount := default 10 ($.Site.Param $param) -}}
  {{- if $taxonomyCount -}}
    {{- with $value.ByCount -}}
    <section class="row m-4">
      <h4 >{{ $key }}</h4>
      <div>
      {{- range $idx, $taxonomy := . -}}
        {{- if lt $idx $taxonomyCount -}}
        <a class="btn btn-sm btn-outline-dark rounded-0 me-2 mb-2"
        href="{{ $taxonomy.Page.Permalink }}" title="{{ $taxonomy.Page.Title }}">
          {{ $taxonomy.Page.Title }} <span class="badge bg-dark">{{ $taxonomy.Count }}</span>
        </a>
        {{- end -}}
      {{- end -}}
      </div>
    </section>
    {{- end -}}
  {{- end -}}
{{- end -}}
