<nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-static-top">
  <div class="container">
    <a class="navbar-brand" href="/">josemontoya.io</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
        {{ $curr := . }}
        {{ range .Site.Menus.main }}
        {{ $active := or ($curr.IsMenuCurrent "main" .) ($curr.HasMenuCurrent "main" .) }}
        <li class="nav-item">
          <a class="nav-link{{ if $active }} active{{end}}"
        href="{{ .URL }}" title="{{ .Title }}">
          {{ .Name }}
          </a>
        </li>
        {{ end }}
        {{- partial "languages.html" . -}}
        </ul>
        <!-- {{ partial "search.html" . }} -->
      </div>
  </div>
</nav>
